<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Portal</title>
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
    <h2>student_List</h2>
    <form method="GET">
        <input type="text" name='q' placeholder="search student">
        <button type="submit">Search</button>
        <a href="{% url 'add_std' %}">Add_Student</a>

    </form>
    {% for std1 in std %}
         <a href="/student/{{ std1.id }}/">
        {{ std1.name }}
    </a>

        
        <br>
    {% endfor %}
    {% endblock %}
    


    
    
</body>
</html>